@charset "UTF-8";
@font-face {
  font-family: "GolosUI";
  src: url("../fonts/Golos-UI_Bold.woff2") format("woff2"), url("../fonts/Golos-UI_Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "GolosUI";
  src: url("../fonts/Golos-UI_Regular.woff2") format("woff2"), url("../fonts/Golos-UI_Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Aeroport";
  src: url("../fonts/AeroportMono.woff2") format("woff2"), url("../fonts/AeroportMono.woff") format("woff");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("../fonts/Spectral-Italic.woff2") format("woff2"), url("../fonts/Spectral-Italic.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: italic; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  position: relative;
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1,
h2,
h3 {
  margin: 0;
  font-family: inherit;
  font-weight: inherit; }

input {
  color: inherit;
  background-color: transparent;
  border: none; }
  input[type="checkbox"] {
    margin: 0; }

input,
input::placeholder,
textarea,
textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

p {
  margin: 0; }

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  font: inherit; }

body {
  background-color: #fafafa;
  font-family: "GolosUI", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: #3f3f3f;
  overflow-x: hidden; }

.container {
  max-width: 1270px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.logo {
  width: 77px; }

.title {
  font-size: 60px;
  line-height: 1.2;
  color: black; }
  .title__italic {
    font-size: 70px;
    line-height: 72px;
    font-family: "Spectral", sans-serif; }

.btn {
  width: 290px;
  padding: 13px 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #5c5c5c;
  box-shadow: 5px 9px 9px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.3s; }
  .btn--blue {
    color: #6582cb; }
  .btn svg {
    pointer-events: none; }
  .btn svg path {
    transition: all 0.3s; }
  .btn:hover {
    background-color: #323232;
    color: white;
    box-shadow: none; }
    .btn:hover svg path {
      fill: white; }
  .btn.pressed {
    background-color: #323232;
    color: white;
    box-shadow: none; }
    .btn.pressed svg path {
      fill: white; }

.hidden {
  display: none !important; }

.header {
  margin-top: 50px; }
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.menu__list {
  display: flex; }

.menu__item:not(:last-child) {
  margin-right: 50px; }

.menu__link {
  transition: color 0.3s; }
  .menu__link:hover {
    color: #00ff00; }

.start {
  position: relative;
  margin-top: 140px; }
  .start__title {
    max-width: 715px;
    width: 100%;
    margin-bottom: 40px; }
  .start__text {
    max-width: 500px;
    width: 100%;
    margin-bottom: 75px; }
    .start__text p:last-child {
      max-width: 450px;
      width: 100%;
      margin-top: 30px; }
  .start__img {
    position: absolute;
    right: 0;
    top: -100px;
    z-index: -1; }

.question {
  position: relative;
  margin: 60px 0 130px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .question__num {
    display: inline-block;
    font-family: "Spectral", sans-serif;
    font-size: 60px;
    color: #bbbbbb;
    margin-right: 30px; }
  .question__title {
    margin-bottom: 35px; }
  .question__options {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px; }
  .question__next {
    margin-top: 135px;
    position: relative; }
    .question__next svg {
      margin-left: 16px; }
    .question__next.error::after {
      content: "Выберите одно или два направления!";
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      font-size: 14px;
      color: #3f3f3f; }
  .question[data-q="2"] .question__back {
    margin-top: 0; }
  .question__back {
    margin-top: 250px;
    display: inline-block; }
  .question__img {
    z-index: -1;
    position: absolute;
    right: 50px;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s;
    width: 400px; }
    .question__img--2d {
      width: 450px;
      bottom: -50px; }
    .question__img--3d {
      width: 500px;
      right: 0;
      bottom: -100px; }
    .question__img--upgade {
      width: 360px; }
    .question__img--new {
      width: 500px; }
    .question__img--big {
      right: 0;
      bottom: -135px;
      width: 700px; }
    .question__img--small {
      width: 150px;
      right: 150px; }
    .question__img--chaos {
      width: 400px; }
    .question__img--digital {
      width: 450px; }
    .question__img--real {
      width: 320px; }
    .question__img--tasks {
      width: 500px; }
    .question__img--impulse {
      width: 450px; }
  .option:hover + .question__img {
    opacity: 1; }

.preview {
  margin: 130px 0 60px;
  min-height: 360px;
  height: 100%; }
  .preview__inner {
    display: flex;
    justify-content: space-between;
    position: relative; }
  .preview__title {
    margin-bottom: 30px; }
  .preview__text {
    max-width: 660px;
    width: 100%; }
  .preview__circle {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: linear-gradient(90deg, #ff0808 0%, #ffb199 100%);
    filter: blur(25px);
    transform: rotate(-45deg); }
  .preview__img {
    position: absolute;
    right: 0;
    top: -70px; }

.promo {
  margin-bottom: 130px; }
  .promo__inner {
    display: flex;
    align-items: center; }
  .promo__img {
    width: 50%; }
  .promo__text {
    position: relative;
    margin-left: -140px;
    padding: 135px 45px 90px;
    background: white;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Spectral", sans-serif;
    max-width: 775px;
    width: 100%;
    height: fit-content;
    font-size: 30px; }
    .promo__text::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 45px;
      width: 42px;
      height: 42px;
      background-image: url(../img/promo-star-icon.svg); }

.about {
  margin-bottom: 200px; }
  .about__title {
    max-width: 820px;
    width: 100%;
    margin-bottom: 70px; }
  .about__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px; }
  .about__list {
    max-width: 510px;
    width: 100%; }
  .about__item:not(:last-child) {
    margin-bottom: 70px; }
  .about__item:first-child .about__text {
    max-width: 470px; }
  .about__subtitle {
    font-size: 35px;
    line-height: 1.3;
    font-family: "Spectral", sans-serif;
    margin-bottom: 20px; }
  .about__text {
    font-size: 22px; }
  .about__circle {
    position: absolute;
    top: -210px;
    left: 50%;
    width: 1150px;
    height: 1150px;
    border-radius: 100%;
    background: linear-gradient(90deg, #ff0808 0%, #ffb199 100%);
    filter: blur(25px);
    transform: rotate(-45deg);
    z-index: -1; }
  .about__gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .about__gallery--graf {
      max-width: 635px;
      justify-content: flex-end; }
  .about__img {
    display: inline-block; }
    .about__img img {
      width: 100%; }
    .about__img--graf-1 {
      max-width: 635px; }
    .about__img--graf-2 {
      max-width: 230px;
      margin-bottom: auto; }
    .about__img--graf-3 {
      max-width: 360px;
      margin-left: 10px; }

.future {
  margin-bottom: 200px; }
  .future__title {
    margin-bottom: 60px; }
  .future__inner {
    display: flex;
    justify-content: space-between;
    align-items: start; }
  .future__img {
    margin-right: 20px;
    width: 50%; }
  .future__item {
    position: relative;
    font-family: "Spectral", sans-serif;
    font-size: 35px;
    padding-left: 25px; }
    .future__item::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: black; }
    .future__item:not(:last-child) {
      margin-bottom: 25px; }

.more {
  margin-bottom: 130px; }
  .more__title {
    margin-bottom: 100px; }
  .more__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px; }
  .more__item {
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right top;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 60px 40px;
    font-family: "Spectral", sans-serif;
    font-size: 35px;
    min-height: 280px; }
    .more__item--ind {
      background-image: url(../img/more-ind.png); }
    .more__item--eks {
      background-image: url(../img/more-eks.png); }
    .more__item--sreda {
      background-image: url(../img/more-sreda.png); }
      .more__item--sreda .more__text {
        max-width: 500px; }
    .more__item--kost {
      background-image: url(../img/more-kost.png); }
  .more__text {
    max-width: 320px;
    width: 100%;
    line-height: 1.25; }
  .more__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.contacts {
  margin-bottom: 130px; }
  .contacts__title {
    margin-bottom: 30px; }
  .contacts__inner {
    font-size: 22px;
    display: flex;
    gap: 40px; }
  .contacts__form {
    max-width: 600px;
    width: 100%; }
  .contacts__input {
    width: 100%;
    padding: 8px 0;
    border-bottom: 2px solid #bbbbbb;
    margin-top: 50px;
    outline: none; }
  .contacts__wrapper {
    position: relative;
    margin: 40px 0; }
  .contacts__label {
    position: relative;
    padding-left: 40px;
    font-size: 18px; }
    .contacts__label::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;
      height: 22px;
      border: 1px solid black; }
    .contacts__label::after {
      content: "";
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 13.5px;
      background-image: url(../img/contacts-agree-icon.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s; }
    .contacts__label a {
      color: #6582cb; }
  .contacts__checkbox {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    z-index: 2; }
  .contacts__checkbox:checked + .contacts__label::after {
    opacity: 1; }

.social {
  font-family: "Spectral", sans-serif;
  font-size: 27px;
  max-width: 370px;
  width: 100%;
  margin: 0 auto; }
  .social__title {
    margin-bottom: 15px; }
  .social__list {
    display: flex;
    gap: 40px; }
    .social__list:not(:last-child) {
      margin-bottom: 40px; }
  .social__link {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
