@font-face {
  font-family: "GolosUI";
  src: url("../fonts/Golos-UI_Bold.woff2") format("woff2"), url("../fonts/Golos-UI_Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "GolosUI";
  src: url("../fonts/Golos-UI_Regular.woff2") format("woff2"), url("../fonts/Golos-UI_Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Aeroport";
  src: url("../fonts/AeroportMono.woff2") format("woff2"), url("../fonts/AeroportMono.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

