html,
body {
  overflow-x: hidden;
  position: relative;
}

html.active {
  overflow: hidden;
}

body {
  background-color: $bg;
  font-family: "GolosUI", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: $text;
  &.test {
    height: 100vh;
  }
}

.container {
  max-width: 1270px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  width: 77px;
  z-index: 3;
  &.inactive {
    opacity: 0;
    pointer-events: none;
  }
}

.title {
  font-size: 60px;
  line-height: 1.2;
  color: black;

  &__italic {
    font-size: 70px;
    line-height: 72px;
    font-family: "Spectral", sans-serif;
  }

  @include r {
    max-width: 410px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    line-height: 1.4;

    &__italic {
      font-size: 36px;
      line-height: 1;
    }
  }
}

.btn {
  width: 290px;
  padding: 13px 0 15px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: $light-text;
  box-shadow: 5px 9px 9px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.3s;

  &--blue {
    color: $blue;
  }

  svg {
    pointer-events: none;
  }

  svg path {
    transition: all 0.3s;
  }

  &:hover {
    background-color: #323232;
    color: white;
    box-shadow: none;

    svg path {
      fill: white;
    }

    &::before {
      color: white;
    }
  }

  &.pressed {
    background-color: #323232 !important;
    color: white !important;
    box-shadow: none !important;

    svg path {
      fill: white !important;
    }
  }

  &--inactive {
    color: rgba(92, 92, 92, 0.5);
    box-shadow: none;
    pointer-events: none;
  }

  @include r {
    max-width: 366px;
    width: 100%;
    margin: 0 auto;
  }
}

.mobileOnly {
  display: none !important;

  @include r {
    display: block !important;
  }
}

.desktopOnly {
  @include r {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}
