@import "fonts";
@import "reset";
@import "vars";
@import "global";

.header {
  margin-top: 50px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    transition: color 0.3s;
    &:hover {
      color: $green;
    }
  }
}

.preview {
  position: relative;
  margin-top: 140px;
  &__title {
    max-width: 715px;
    width: 100%;
    margin-bottom: 40px;
  }
  &__text {
    max-width: 500px;
    width: 100%;
    margin-bottom: 75px;
    p:last-child {
      max-width: 450px;
      width: 100%;
      margin-top: 30px;
    }
  }
  &__img {
    position: absolute;
    right: 0;
    top: -100px;
  }
}

.question {
  position: relative;
  margin: 60px 0 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__num {
    display: inline-block;
    font-family: "Spectral", sans-serif;
    font-size: 60px;
    color: $grey;
    margin-right: 30px;
  }
  &__title {
    margin-bottom: 35px;
  }
  &__options {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  &__next {
    margin-top: 135px;
    position: relative;
    svg {
      margin-left: 16px;
    }
  }
  &[data-q="2"] &__back {
    margin-top: 0;
  }
  &__back {
    margin-top: 250px;
    display: inline-block;
  }

  &__img {
    z-index: -1;
    position: absolute;
    right: 50px;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s;
    width: 400px;

    &--2d {
      width: 450px;
      bottom: -50px;
    }

    &--3d {
      width: 500px;
      right: 0;
      bottom: -100px;
    }

    &--upgade {
      width: 360px;
    }

    &--new {
      width: 500px;
    }

    &--big {
      right: 0;
      bottom: -135px;
      width: 700px;
    }

    &--small {
      width: 150px;
      right: 150px;
    }

    &--chaos {
      width: 400px;
    }

    &--digital {
      width: 450px;
    }

    &--real {
      width: 320px;
    }

    &--tasks {
      width: 500px;
    }

    &--impulse {
      width: 450px;
    }
  }

  .option:hover + &__img {
    opacity: 1;
  }
}
